.home {
    height: 100vh;
    width: 100vw;
    background: $gradient-dark;
    
    
    &__text-wrapper {
        color: $color-secondary-light;
        transform: translateY(30vh);
        width: fit-content;
        margin: 0 auto;
        padding: 1rem;
    }
}

.outlined {
    border: 1px $color-secondary-light solid;
}