section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;

  .resume-item {
    border-left: 5px solid #1D4350;
    padding: 1rem;
    background: rgba($color: #aaa, $alpha: 0.05);
    box-shadow: 0px 10px 30px rgba($color: #000000, $alpha: 0.3);
    cursor: default;
    transition: all .3s ease;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 10px 50px rgba($color: #000000, $alpha: 0.5);
    }

    .resume-content {}

    .resume-date {
      min-width: none;
    }
  }
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;

    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}