@import url('https://fonts.googleapis.com/css?family=Barlow|Cinzel|Comfortaa|Poiret+One');


$main-font: 'Comfortaa', Helvetica, sans-serif;
$secondary-font: 'Barlow', Helvetica, sans-serif;
$small-font: 'Cinzel', Helvetica, sans-serif;

.text-display1 {
    font-family: $small-font;
    font-size: 5rem;
    text-align: center;
    color: $color-primary;
}


.text-display2 {
    font-family: $small-font;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}