$color-accent: #F2BE54;
$color-light: #F0D9CF;
$color-secondary-light: #87AEB4;
$color-secondary-dark: #153E5C;
$color-primary: #ED5560;


$gradient-primary: linear-gradient(#00FFFA, #0CE8AE);
$gradient-secondary: linear-gradient(#0CBAE8, #0063B0);
    
