$color-accent: #F2BE54;
$color-light: #F0D9CF;
$color-secondary-light: #87AEB4;
$color-secondary-dark: #153E5C;
$color-primary: #ED5560;


$gradient-1: linear-gradient( #00bf8f, #001510);
$gradient-2: linear-gradient(#0072ff, #00c6ff);
$gradient-3: linear-gradient(#00B4DB, #0083B0);
$gradient-4: linear-gradient(#1D4350, #457fca);
$gradient-dark: linear-gradient(to right, #232526, #3A6073);


.grad-2 {
    background: $gradient-2;
}