.story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.mystory > h2 {
  color: var(--main-color);
  padding: 100px;
}

p {
  color: var(--secondary-color);
  margin: 100px 0;
  text-align: left;
}

.story-part-1 {
  margin: 10%;
}

.story-part-1 img {
  width: 500px;
  position: relative;
  right: 0;
}

.rocket,
.running {
  position: relative;
  height: 100px;
  animation-name: follow;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rocket {
  animation-timing-function: linear;
  transform: rotate(35deg);
}
@keyframes follow {
  from {
    left: 0;
  }

  to {
    left: 80vw;
  }
}

.work {
  position: relative;
  width: 50%;
  left: 25%;
}
