.social {
  cursor: pointer;
  position: absolute;
  z-index: 200;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  margin: 100px auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social ul li {
  margin: 100px 0;
}

.social i {
  font-size: 50px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: var(--secondary-color);
}

.social i:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
  color: var(--main-color);
}

@media only screen and (max-width: 768px) {
  .social {
    width: 40%;
  }

  .social i {
    font-size: 100px;
    margin: 20px auto;
  }

  .social ul li {
    margin: 20px 0;
  }
}
