.home {
  height: calc(100vh - 30vh);
  overflow-x: hidden;
  background: #f25652;
  margin: 15vh 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 10px black;
  box-shadow: 1px 1px 10px black;
  background-image: url(https://media.giphy.com/media/gtlnkGmT5U9YA/giphy.gif);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.down-arrow {
  height: 40px;
  position: absolute;
  bottom: 20%;
  -webkit-animation: jump 1s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: jump 1s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.3;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}
.title {
  color: white;
  font-weight: 500;
  font-size: 40px;
  font-family: "Limelight";
}
.subtitle {
  color: white;
  font-weight: 100;
  font-size: 15px;
  font-family: "Playfair Display", serif;
}
.page-2 {
  background: black;
}
.fade-slow {
  -webkit-animation: fade 7s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade 7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lighting {
  -webkit-animation: light 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: light 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.grow-slow {
  -webkit-animation: grow 40s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: grow 40s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes light {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes light {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes jump {
  from {
  }
}

@keyframes jump {
  from {
    bottom: 20%;
  }
  50% {
    bottom: 21%;
  }
  to {
    bottom: 20%;
  }
}
