@import url("https://fonts.googleapis.com/css?family=Dosis|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Kodchasan");

:root {
  --main-color: #008585;
  --secondary-color: #44abab;
  --light-color: #eee6d2;
}

html {
  scroll-behavior: smooth;
  background: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Dosis", "Quicksand";
  text-align: center;
  color: var(--light-color);
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 400%;
}
h2 {
  font-size: 150%;
}

p {
  font-size: 170%;
  text-transform: capitalize;
  font-family: "Kodchasan";
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

::selection {
  background: #44abab;
}
